<!-- templates/movies/review_edit.html -->
{% extends 'core/base.html' %}
{% block content %}
    <div class="container-edit-page">
        <h2>Edit Your Review for {{ review.movie.title }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-save">Save Changes</button>
                <a href="{% url 'review_delete' review.id %}" class="btn btn-delete">Delete Review</a>
            </div>
        </form>
    </div>
{% endblock %}